@import '@fontsource/sora/400.css';
@import '@fontsource/sora/600.css';

html {
  min-height: 100%;
}

body {
  font-family: 'Sora', sans-serif;
  background: linear-gradient(180deg, #f8fafb 0%, #e6f3f5 100%) no-repeat;
}

p {
  line-height: 30px;
}

strong {
  font-weight: 600;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Sora';
    font-variation-settings: 'wght' 400;
  }

  strong {
    font-variation-settings: 'wght' 600;
  }
}
