@import '@fontsource/sora/400.css';
@import '@fontsource/sora/600.css';
@import '@fontsource/sora/700.css';

html {
  min-height: 100%;
}

body {
  font-family: 'Sora', sans-serif;
  background: linear-gradient(180deg, #f8fafb 0%, #e6f3f5 100%) no-repeat;
}

p {
  line-height: 30px;
}
