@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.theme-light {
  --bg-color-primary: #E2E8F0; /* gray-300 */
  --bg-color-secondary: white; /* white */
  --bg-color-ternary: #CBD5E0; /* gray-400 */
  --bg-color-overlay: black; /* black */
  --text-color-primary: #4A5568; /* gray-700 */
  --text-color-secondary: #718096; /* gray-600 */
  --text-color-ternary: #1A202C; /* gray-900 */
  --text-color-disabled: #CBD5E0; /* gray-400 */
  --border-color-primary: #CBD5E0; /* gray-400 */
}

.theme-dark {
  --bg-color-primary: #1A202C; /* gray-900 */
  --bg-color-secondary: #2D3748; /* gray-800 */
  --bg-color-ternary: #CBD5E0; /* gray-400 */
  --bg-color-overlay: white; /* white */
  --text-color-primary: #F7FAFC; /* gray-100 */
  --text-color-secondary: #CBD5E0; /* gray-400 */
  --text-color-ternary: white; /* white */
  --text-color-disabled: #4A5568; /* gray-700 */
  --border-color-primary: #4A5568; /* gray-700 */
}

html, body, #__nuxt, #__layout {
  @apply h-full;
  /* font-family: 'Lato'; */
}

body, .content {
  transition: background-color .3s;
}

nav .nuxt-link-exact-active {
  @apply bg-secondary text-ternary font-semibold;
}