---
import SocialIconLink from '../components/SocialIconLink.astro';
---

<div class="flex flex-col text-center">
  <h3 class="text-sm text-gray-500 uppercase mb-4">Follow me</h3>
  <ul class="flex gap-4">  
    <li aria-label="Follow me on Twitter">
      <SocialIconLink
        href="https://twitter.com/antoniogiroz"
        icon="mdi:twitter"
        
      />
    </li>
    <li aria-label="Follow me on Github">
      <SocialIconLink
        href="https://github.com/antoniogiroz"
        icon="mdi:github"
      />
    </li>
    <li aria-label="Follow me on Linkedin">
      <SocialIconLink
        href="https://www.linkedin.com/in/antoniogiroz"
        icon="mdi:linkedin"
      />
    </li>
  </ul>
</div>
