---
import SocialIconLink from '../components/SocialIconLink.astro';
---

<ul class="flex gap-2">
  <li>
    <SocialIconLink
      href="https://twitter.com/antoniogiroz"
      icon="ph:twitter-logo-duotone"
    />
  </li>
  <li>
    <SocialIconLink
      href="https://github.com/antoniogiroz"
      icon="ph:github-logo-duotone"
    />
  </li>
  <li>
    <SocialIconLink
      href="https://www.linkedin.com/in/antoniogiroz"
      icon="ph:linkedin-logo-duotone"
    />
  </li>
</ul>