---
import SocialIconLink from '../components/SocialIconLink.astro';
---

<div class="flex flex-col text-center">
  <h3 class="text-sm text-gray-500 uppercase mb-4">Follow me</h3>
  <ul class="flex gap-4">
    <li aria-label="Follow me on Bluesky">
      <SocialIconLink
        href="https://bsky.app/profile/antoniogiroz.com"
        icon="ri:bluesky-line"
      />
    </li>
    <li aria-label="Follow me on X">
      <SocialIconLink
        href="https://x.com/antoniogiroz"
        icon="ri:twitter-x-line"
      />
    </li>
    <li aria-label="Follow me on Github">
      <SocialIconLink
        href="https://github.com/antoniogiroz"
        icon="ri:github-line"
      />
    </li>
    <li aria-label="Follow me on Linkedin">
      <SocialIconLink
        href="https://www.linkedin.com/in/antoniogiroz"
        icon="ri:linkedin-box-line"
      />
    </li>
  </ul>
</div>
