---
import { Icon } from 'astro-icon';
import '../styles/index.scss';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col">
    <slot />

    <p class="flex mt-12 mb-4 text-gray-500 static justify-center items-center md:m-0 md:right-4 md:bottom-4 md:fixed lg:bg-transparent">
      Built with
      <Icon class="h-24px ml-2 fill-gray-500 inline-flex" name="astro" />
    </p>
  </body>
</html>
